<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Property Listing App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span class=""><i class="fas fa-bars fa-1x" style="color: #fff;"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink='/home'>Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/listings'>All listing</a>
            </li>
            <li class="nav-item" *ngIf="userService.loggedIn()">
                <a class="nav-link" routerLink='/listings/add-listing'>Add listing</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="!userService.loggedIn()">
                <a class="nav-link" routerLink='user/register'>Register</a>
            </li>
            <li class="nav-item" *ngIf="!userService.loggedIn()">
                <a class="nav-link" routerLink='user/login'>Login</a>
            </li>
            <li class="nav-item" *ngIf="userService.loggedIn()">
                <a class="nav-link" style="cursor: pointer" (click)="userService.logOut()">Log Out</a>
            </li>
        </ul>
    </div>
</nav>