<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h2 class="display-3">Property Listing App</h2>
            <p>Make real estate business more eazy. Come and join us!</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>


    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Angular10</h2>
                <p>Angular is an application design framework and development platform for creating efficient and
                    sophisticated single-page apps. </p>
                <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>MongoDB</h2>
                <p>MongoDB is a general purpose, document-based, distributed database built for modern application
                    developers and for the cloud era. </p>
                <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Express</h2>
                <p>Express, a back end web application framework for Node.js, released as free and open-source software
                    under the MIT License.</p>
                <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>